body {
    font-size: 16px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover, a:focus {
    color: white;
    text-decoration: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 1600px;
    /*  font-family: Montserrat Regular;*/
}

.header {
    background: linear-gradient(rgba(0, 0, 0, 0.83), rgba(0, 0, 0, 0.83)), url(../img/background.png);
    background-size: 1600px 945px;
    font-size: 1rem;
    width: 100%;
    height: 1064px;
    display: block;
    justify-content: center;
    color: #ffffff;

}

.header-top {
    width: 1200px;
    height: 90px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    border-bottom: 1px solid #ffffff15;
}

.navigation-list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.logo {
    /*  background: url(../img/logo.png) 100% 100% no-repeat;*/
    padding-top: 13.6px;
    margin-left: -10.4px;

}

.nav {
    width: 100%;
    height: 100%;
}

.header-container {
    display: flex;
    flex-direction: column;
}

.header-content {
    align-items: center;
    height: 100%;
    padding-right: 2px;
    width: 632px;
}

.header-item li {
    padding: 37px 0 35px;
    border-bottom: 1px solid transparent;
    font-family: LatoMedium, sans-serif;
    font-style: normal;
}

.header-item li:hover,
.header-item li:focus {
    border-bottom: 1px solid #ffffff;
    cursor: pointer;
}

h1.hello {
    font-family: "MyriadPro", sans-serif;
    text-transform: uppercase;
    font-size: 4.5rem;
}

.header-banner {
    margin-top: 335px;
    margin-bottom: 340px;
    text-align: center;
}

.banner-text {
    font-family: "Georgia", serif;
    font-style: italic;
    font-size: 2rem;
    margin-top: 13px;
}

.banner-text span {
    display: block;
    line-height: 42px;
    margin-bottom: 5.4px;
    margin-left: 1px;
}

.header-login {
    display: flex;
    width: 100%;
    text-align: center;
    position: relative;
    top: -2px;
}

.header-button {
    display: block;
    width: 50%;
    position: relative;
    box-sizing: border-box;
    padding: 51px;

    border: none;
    transition: 0.3s background-color;
    font-family: LatoBold, sans-serif;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 19px;
    background: #21424a;
    color: #ffffff;
}
.register{

}
.register:first-child{

}
.header-button:first-child {
    text-align: right;
    padding-right: 272.2px;
    width: 37.3em;


}

.header-button:last-child {
    text-align: left;
    padding-left: 240px;
}

.header-button:last-child:before {
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    z-index: 3;
    left: -15px;
    width: 30px;
    transform: skew(-13deg);
    background-color: #21424a;
    transition: 0.3s background-color;
}

/*.header-button{*/
/*background-color: #2fac6c;*/
/*}*/

.header-button:hover,
.header-button:last-child:hover:before {
    background-color: #2fac6c;
}

.hosting-li {
    right: 1px;
}

@font-face {
    font-family: LatoMedium;
    src: url(../fonts/Lato-Medium.ttf);
}

@font-face {
    font-family: LatoRegular;
    src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: LatoHeavy;
    src: url(../fonts/Lato-Heavy.ttf);
}

@font-face {
    font-family: LatoBold;
    src: url(../fonts/Lato-Bold.ttf);
}

@font-face {
    font-family: Lato-SemiBold;
    src: url(../fonts/Lato-Semibold.ttf);
}

@font-face {
    font-family: MyriadPro;
    src: url(../fonts/MyriadPro-Bold.ttf);
}

@font-face {
    font-family: Montserrat-UltraLight;
    src: url(../fonts/Montserrat-UltraLight.otf);
}